{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block header %}CUBE - Columbia Events{% endblock %}

{% block content %}
  <div class="menu">
    <a href="{{ url_for('filter') }}">
      <button class="btn btn-warning other-btn">Filter</button>
    </a>
    <a href="{{ url_for('show_interested') }}">
      <button class="btn btn-info other-btn">Interested</button>
    </a>
    <button class="btn btn-success other-btn">Recommended</button> 
    <a href="{{ url_for('login') }}">
      <button class="btn btn-{{ logged_in.color }} login-btn">{{logged_in.msg}}</button> 
    </a>
  </div>

  <div>
    {% for n in data %}
    <a href="{{ url_for('show_event', event_id=n.id ) }}">
      <img class="cube_image" src={{ n.image_url }}>
    </a>
    {% endfor %}
  </div>

<!-- Keeping this for reference 

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>

-->

{% endblock %}


