{% extends "layout.html" %}
{% block title %}Create an Account{% endblock %}
{% block header %}Create an Account{% endblock %}

{% block messages %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="new-user">
    <form method="POST" action="/create/user">
        <p>UNI: <input type="text" name="uni"></p>
        <p>School: <input type="text" name="school" placeholder=" Ex: CC, GS, TC, etc... "></p>
        <p>Age: <input type="text" name="age"></p>
        
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>

{% endblock %}